<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Meditations - Marcus Aurelius">
    <meta name="author" content="">

    <title><%= site_name %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div id="outer-wrapper">

      <!-- <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
           <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
         -->

      <div id="main-content" class="container">

        <nav id="top-nav" class="navbar navbar-light">
          <a id="site-name" href="/" class="navbar-brand"><%= site_name %></a>


          <div class="collapse navbar-toggleable-md" id="navbarResponsive">
            <ul class="nav navbar-nav float-xs-right">
              <li class="nav-item">
                <a href="/random" class="nav-item nav-link">Random Chapter</a>
              </li>

              <li class="nav-item">
                <a href="/meditations" class="nav-item nav-link">Full Text</a>
              </li>

            </ul>
          </div>

          <button class="navbar-toggler hidden-lg-up float-xs-right"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarResponsive"
                  aria-controls="navbarResponsive"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
          </button>

        </nav>

        <div id="page-content" class="row">
          <div class="col-md-10 offset-md-1">

            <%= render @view_module, @view_template, assigns %>

            <footer id="main-footer">
              <div class="row">
                <div class="col-md-12">
                  <div class="float-xs-right">
                    <small>
                      <a href="/about">About</a>
                    </small>
                  </div>
                </div>
              </div>
            </footer>

          </div>
        </div>


      </div>

    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <%= if Application.get_env(:marc, :ga_tracking_id) do %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '<%= Application.get_env(:marc, :ga_tracking_id) %>', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>

  </body>
</html>
