<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Marc</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div id="outer-wrapper">

      <!-- <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
           <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
         -->

      <div id="main-content" class="container">
        <nav id="top-nav" class="navbar navbar-light">
          <a href="/" class="navbar-brand"><%= site_name %></a>
          <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item">
              <a href="/about" class="nav-link">About</a>
            </li>
          </ul>
        </nav>

        <div id="page-content" class="row">
          <div class="col-md-12">

            <%= render @view_module, @view_template, assigns %>

          </div>
        </div>
      </div>

    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
