/* app.scss */


// Bootstrap Vars

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;

$body-bg:    #fff !default;
$body-color: $gray-dark !default;
$background-color: $gray-lightest;

$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;



// App styles

body {
  min-height: 400px;
  background-color: $background-color;
  background: url("/images/crossword.png") repeat;
}

.text-center {
  text-align: center;
}

#main-content {
  /* font-size: 1.1em; */
  max-width: 800px;
}

nav#top-nav {
  border-radius: 0;
  padding-left: 0px;
  padding-right: 0px;
  .navbar-nav {
    .nav-item {
      display: inline-block;
    }
  }
}

#page-content {
  margin-top: 8px;
}

#main-footer {
  min-height: 100px;
}


.meditation-view {
  .meditation-title {
    text-align: center;
    font-family: Georgia, serif;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .meditation-text {
    font-family: Georgia, serif;
    /* text-align: center; */
    font-size: 1.1em;
    padding-left: 8px;
    padding-right: 8px;
    p {
      text-indent: 24px;
    }
  }
  .meditation-actions {
    margin-top: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid $gray-lighter;
  }
}

#meditations-full {
  font-family: Georgia, serif;
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1em;
  }
  h1, h2, h3, h4 {
    margin-top: 24px;
  }
  p {
    margin-bottom: 24px;
  }
}
