/* app.scss */


// Bootstrap Vars

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;

$body-bg:    #fff !default;
$body-color: $gray-dark !default;
$background-color: $gray-lightest;

$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;



// App styles

body {
  min-height: 400px;
  background-color: $background-color;
  background: url("/images/crossword.png") repeat;
}

.text-center {
  text-align: center;
}

.text-default {
  color: $body-color;
  &:hover {
    color: $body-color;
  }
}

.text-smaller {
  font-size: 0.9em;
}

hr.narrow-rule {
  width: 40%;
}

#main-content {
  /* font-size: 1.1em; */
  max-width: 800px;
}

nav#top-nav {
  border-radius: 0;
  padding-left: 0px;
  padding-right: 0px;
}

#page-content {
  margin-top: 24px;
}

#main-footer {
  margin-top: 64px;
  padding-top: 8px;
  padding-bottom: 16px;
  border-top: 1px solid $gray-lighter;
}


.meditation-view {
  .chapter-link-arrow {
    font-size: 1.2em;
  }
  .meditation-title {
    text-align: center;
    font-family: Georgia, serif;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .meditation-text {
    font-family: Georgia, serif;
    & .larger {
      font-size: 1.2em;
    }
    /* text-align: center; */
    font-size: 1.1em;
    padding-left: 8px;
    padding-right: 8px;
    p {
      /* text-indent: 24px; */
    }
    blockquote {
      border-left: 2px solid $gray-light;
      font-style: italic;
      padding-left: 24px;
      p {
        margin-bottom: 0px;
      }
      margin-bottom: 12px;
    }
  }
  /* .meditation-actions { */
  /*   margin-top: 24px; */
  /*   padding-top: 16px; */
  /*   padding-bottom: 16px; */
  /*   border-top: 1px solid $gray-lighter; */
  /* } */
}

#meditations-full {
  font-family: Georgia, serif;
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1em;
  }
  h2, h3, h4 {
    margin-top: 24px;
  }
  p {
    margin-bottom: 24px;
  }
}
