/* app.scss */


// Bootstrap Vars

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;

$body-bg:    #fff !default;
$body-color: $gray-dark !default;

$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;



// App styles

body {
  min-height: 400px;
  background: url("/images/crossword.png") repeat;
}

.text-center {
  text-align: center;
}

#main-content {
  font-size: 1.1em;
  max-width: 800px;
}

nav#top-nav {
  border-radius: 0;
  padding-left: 0px;
  padding-right: 0px;
}

#page-content {
  margin-top: 8px;
}

.meditation-view {
  .meditation-title {
    text-align: center;
    font-family: Georgia, serif;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .meditation-text {
    font-family: Georgia, serif;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
  }
  .meditation-actions {
    margin-top: 16px;
    padding-top: 8px;
    border-top: 1px solid $gray-lighter;
  }
}
