<h1>About</h1>
<p>

  This site uses the <a href="http://www.gutenberg.org/ebooks/2680">Project Gutenberg</a> translation of Meditations, under the terms of the <a href="http://www.gutenberg.org/wiki/Gutenberg:The_Project_Gutenberg_License">Project Gutenberg License</a>.

</p>
