<div class="row">
  <div class="col-md-12">

    <p>
      <a class="float-xs-right" href="/meditations.md">Markdown Format</a>
    </p>

    <div id="meditations-full">
      <%= raw(Earmark.to_html(@markdown_text, %Earmark.Options{gfm: true})) %>
    </div>

  </div>
</div>
